/* @import 'https://fonts.googleapis.com/icon?family=Material+Icons'; */
@import 'material-icons/iconfont/material-icons.css';

html, body{
    background-image: url('assets/img/tweet-background.jpg');
    background-position: 100%;
    font-family: 'Spicy Rice', cursive;
    
}

mat-card-header, mat-card-actions{
    text-align: center;
    justify-content: center;
}

/* mat-icon{
    color:#4c72f1;
} */

.form-card-1 {
    height: auto;
    margin-top: 5%;
    margin-bottom: auto;
    display: block;
    width: 600;
    vertical-align:middle; 
    margin-left:auto;
    margin-right:auto;
    
}

.form-card-2 {
    height: auto;
    margin-top: 20%;
    margin-bottom: auto;
    display: block;
    width: 600;
    vertical-align:middle; 
    margin-left:auto;
    margin-right:auto;
}

.data-card{
    /* height: auto; */
    margin-top: 1%;
    margin-bottom: 1%;
    display: block;
    width: 1000px;
    vertical-align:middle; 
    margin-left:auto;
    margin-right:auto;
}

/* mat-card-header{
    font-weight: bolder;
} */

mat-form-field{
    width: 550px;
}

button{
    margin-left: 20px !important;
}

.footer{
    text-align: right;
    margin-right: 5%;
}
