<div class="container">
        <mat-card class="form-card-2">
            <mat-card-header>
                <mat-card-title>Login Page</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                <div>
                    <mat-form-field appearance="fill">
                        <mat-icon matPrefix>email</mat-icon>
                        <mat-label>Enter Email Id</mat-label>
                        <input matInput formControlName="email">
                        <mat-error></mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="fill">
                        <mat-icon matPrefix>lock</mat-icon>
                        <mat-label>Enter Password</mat-label>
                        <input matInput formControlName="password" [type]="hide ? 'password' : 'text'">
                        <mat-icon matSuffix (click)='hide=!hide'>{{hide ? 'visibility_off':'visibility'}}</mat-icon>
                    </mat-form-field>
                </div>
                <div>
                    <mat-card-actions>
                        <button mat-raised-button color="primary">Login</button>
                    </mat-card-actions>
                </div>
            </form>
            </mat-card-content>
            <mat-card-footer class="footer">
                <a mat-button color="primary" routerLink="/forgotPassword">Forgot Password?</a>
            </mat-card-footer>
        </mat-card>
</div>